h1{
    background-color: rgba(228, 11, 11, 0.603);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h2{
    background-color: rgb(30, 168, 30);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

img{
    height: auto;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: block;
    margin-left: 45%;
    margin-right: auto;

}